<html>
<head>
    <title> @ViewData["Title"] - Minha APP Model</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
    </environment>
    <environment exclude="Development">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/css/bootstrap.cs">
    </environment>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>

            </button>
            <div>
                <ul>
                    <li>
                        <a class="navbar-brand" asp-area="Produtos" asp-controller="Cadastro" asp-action="Index">Cadastro</a>
                    </li>
                    <li>
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AppModelo</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <div class="container"> 
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top card-footer text-muted" >
        <div class="container">
            Minha APP Modelo - <email>contato</email>
            Minha APP Modelo - <email email-domain="gmail.com">contato</email>

        </div>

    </footer>
</body>
</html>